* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: black;
  gap: 2px;
}

.cell {
  background-color: white;
  width: 120px;
  height: 120px;
}

footer {
  margin-bottom: 5px;
}