@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root {
 --cell-size: 120px;
 --mark-size: calc((var(--cell-size)) * .8);
 --line-color: rgb(226, 226, 226);
 --cell-color: white;
 --x-color: #3E80B6;
 --o-color: #E65A01;
 --x-shadow-color: #dcf0f7;
 --o-shadow-color: #fadecc;
 --mode-background: rgba(0, 0, 0, .8);
 --font-color: #0E2F58;
 --mode-font-color: #051323;;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}

.mode {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mode-background);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.mode.show {
  display: flex;
}

.mode-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.mode button,
#restart {
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
}

.mode button {
  color: var(--mode-font-color);  
  border: 1px solid var(--mode-font-color);

}

#restart {
  color: var(--font-color); 
  border: 1px solid var(--font-color);
}

.mode button:hover,
#restart:hover {
  color: white;
}

.mode button:hover {
  background-color: var(--mode-font-color);
}

#restart:hover {
  background-color: var(--font-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.score-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.player-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid var(--line-color);
  border-bottom: 3.5px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.8rem;
}

.player-score.x {
  border-bottom: 3.5px solid var(--x-color);
}

.player-score.o {
  border-bottom: 3.5px solid var(--o-color);
}

#x-player {
  color: var(--x-color);
}

#x-player #x {
  font-size: 2.4rem;
}

#o-player {
  color: var(--o-color);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: var(--line-color);
  gap: 7px;
}

.cell {
  background-color: var(--cell-color);
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before, 
.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::before, 
.game-board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  border-radius: 8px;
}

.cell.x::before, 
.cell.x::after {
  background-color: var(--x-color);
}

.game-board.x .cell:not(.x):not(.o):hover::before, 
.game-board.x .cell:not(.x):not(.o):hover::after {
  background-color: var(--x-shadow-color);
}

.cell.x::before, 
.game-board.x .cell:not(.x):not(.o):hover::before  {
  transform: rotate(45deg);
}

.cell.x::after, 
.game-board.x .cell:not(.x):not(.o):hover::after  {
  transform: rotate(-45deg);
}

.cell.o::before, 
.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::before, 
.game-board.o .cell:not(.x):not(.o):hover::after  {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.game-board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--mark-size) * .8);
  height: calc(var(--mark-size) * .8);
}

.cell.o::before {
  background-color: var(--o-color);
}

.game-board.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--o-shadow-color);
}

.cell.o::after, 
.game-board.o .cell:not(.x):not(.o):hover::after  {
  width: calc(var(--mark-size) * .8 * .7);
  height: calc(var(--mark-size) * .8 * .7);
  background-color: white;
}

footer {
  margin-bottom: 5px;
}